

p:focus {
    outline: #43fdb1 auto 1px;
}
/* ----------------------------------------- */
/* DESTACA OS ELEMENTOS EDITAVEIS    */
/* ----------------------------------------- */

.show-td td {
	padding: 10px;
	outline: 1px solid #2c50ee;
}

.show-p p{
    padding: 10px;
    border: 1px solid #2c50ee;
}

.show-img img{
    outline: 1px dashed #2c50ee;
}

/* ------------------------------------------------------------- */
/* DESTACA OS ELEMENTOS EDITAVEIS QUANDO O MOUSE ESTÁ EM CIMA    */
/* ------------------------------------------------------------- */
.show-p   p.is-active, 
.show-td  td.is-active, 
.show-img img.is-active{
	outline: 2px dashed #fd2928 !important;
}

/* ---------------------------------------- */
/* DESTACA O ELEMENTO EDITAVEL SELECIONADO  */
/* ---------------------------------------- */
.show-p   p.is-selected, 
.show-td  td.is-selected, 
.show-img img.is-selected{
	outline: 2px dashed #fd28e5 !important;
}


/* ----------------------------------------- */

/* DESTACA OS BOTÕES DE SELEÇÃO */
.show-td .show-td-btn,
.show-p .show-p-btn,
.show-img .show-img-btn{
	opacity: .8
}



/* EXIBIÇÃO DOS PAINEIS */
.is-panel-td,
.is-panel-p,
.is-panel-img{
	display: none
}

.show-td.is-selected-td 	.is-panel-td,
.show-p.is-selected-p 		.is-panel-p,
.show-img.is-selected-img 	.is-panel-img{
	display: block;
}


/* ---------------------------------------- */
/* DESTACA O ELEMENTO EDITAVEL SELECIONADO  */
/* ---------------------------------------- */

.tt-seletor{
    text-align: center;
    font-weight: 500;
    margin-bottom: 5px;
    color: #2746d0;
    font-size: 14px;
}




/* ---------------------------------------------------------------- */
/* Editor */
/* ---------------------------------------------------------------- */
::selection { background: yellow;} /* Safari */
::-moz-selection { background: yellow; }/* Firefox */

.share-highlight-btn {
    width: 185px;
    top: 25px;
    left: -30px;
    position: absolute;
    background: #313a41;
}

.holder {
    display: none;
    position: absolute;
}

.btn-caret {
    width: 14px;
    height: 7px;
    position: absolute;
    top: -6px;
    left: 14px;
    background: url(../images/icons/seta_tootip.png)  no-repeat 0px 0px;
}

.btn-left, .btn-right {
  display: inline-block;
  vertical-align: middle;
  float: left;
}

/* ---------------------------------------------------------------- */
/* Icones do editor */
/* https://www.iconfinder.com/iconsets/typicons-2 */
/* ---------------------------------------------------------------- */

.icon-editor{
    width: 20px;
    height: 20px;
    vertical-align: sub;
    text-align: center;
    color: #fff;
    background: #353535;
    cursor: pointer;
}

.icon{
    display: inline-block;
    padding: 15px;
    background-position: center;
    background-repeat: no-repeat;
}

.icon-link{ background-image: url(../images/icon-editor/link.png) }
.icon-unlink{ background-image: url(../images/icon-editor/unlink.png) }
.icon-delete{ background-image: url(../images/icon-editor/delete.png) }
.icon-bold{ background-image: url(../images/icon-editor/bold.png) }
.icon-italic{ background-image: url(../images/icon-editor/italic.png) }
